@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  /* PRIMARY COLOR */
  --Linear-gradient: linear-gradient(
    180deg,
    rgba(100, 72, 254, 1) 31%,
    rgba(96, 5, 148, 1) 87%
  );
  --Red: hsl(0, 100%, 66%);
  /* NEUTRAL COLOR */
  --White: hsl(0, 0%, 100%);
  --Light-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
html,
body {
  height: 100%;
}

body {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  background: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 350px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-dot {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
.dot {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.filled {
  background-color: #fff;
  width: 50px;
  height: 50px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-number {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 15px;
}

.card-info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardholder-name,
.card-expdate {
  color: var(--White);
  font-size: 17px;
  font-weight: 500;
}

.back-card {
  background: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 350px;
  padding: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 35px 0 0 95px;
}

.form-container {
  margin: 100px;
}

form {
  display: flex;
  flex-direction: column;
}
.form-control {
  position: relative;
  margin-bottom: 20px;
}
.input-control {
  position: relative;
}
.form-control label {
  display: flex;
  font-size: 16px;
  color: var(--Very-dark-violet);
  font-weight: 600;
}
.form-control input {
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
}

.form-control.error input {
  border-color: var(--Red);
}
.form-control.success input {
  border: 2px solid #63589a;
}

.form-control input:focus {
  border: 2px solid #63589a;
  outline: none;
}
.column-2 {
  display: flex;
  justify-content: space-between;
}
.form-control .column-2 input {
  width: 49%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-6 {
  width: 49%;
}

.form-control small {
  visibility: hidden;
}

.form-control.error small {
  visibility: hidden;
  color: var(--Red);
}

.hide {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container .icon {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--Linear-gradient);
  margin-bottom: 28px;
}

.message-container .icon i {
  font-size: 30px;
}

.message-container h2 {
  font-size: 28px;
  margin-bottom: 28px;
}

.message-container p {
  color: #868485;
  font-size: 18px;
  margin-bottom: 28px;
}

button {
  background-color: var(--Very-dark-violet);
  color: var(--White);
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: var(--Linear-gradient);
  border: none;
}
@media screen and (max-width: 1100px) {
  body {
    background-image: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 40%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .card-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .card {
    margin-top: -90px;
  }
}
